<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="api_key" value="PBu7CUwsSEafMsYxhNFucQ"/>
    <add key="serviceUrlBase" value="http://realtime.mbta.com/developer/api/v2/"/>
    <add key="logging_active" value="false"/>
    <add key="logging_file" value="c:\pfd\mycr_log.txt"/>
    <add key="logging_file2" value="/Logging/mycr_log.txt"/>
    <add key="routesFile" value="/RouteDataFiles/routes.json"/>
    <add key="stopsFile" value="/RouteDataFiles/stops.json"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <trust level="Full"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MyStationScheduleEntities111" connectionString="metadata=res://*/Models.StationStops.csdl|res://*/Models.StationStops.ssdl|res://*/Models.StationStops.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=98.130.253.54;initial catalog=pdench_MyCR;user id=pdench_MyCR1;password=cAssius5!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MyStationScheduleEntities3" connectionString="metadata=res://*/Models.StationStops.csdl|res://*/Models.StationStops.ssdl|res://*/Models.StationStops.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=MyStationSchedule;user id=MyCRScheduleUser;password=mbta;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MyStationScheduleEntities1" connectionString="metadata=res://*/Models.StationStops.csdl|res://*/Models.StationStops.ssdl|res://*/Models.StationStops.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=MyStationSchedule;user id=MyCRScheduleUser;password=mbta;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MyStationScheduleEntities11" connectionString="Data Source=98.130.253.54;Initial Catalog=pdench_MyCR;User Id=pdench_MyCR1; Password=cAssius5!" providerName="System.Data.SqlClient" />
    <add name="MyStationScheduleEntities01" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MyStationSchedule;Persist Security Info=True;User ID=MyCRScheduleUser;Password=mbta" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>